html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Dela Gothic One", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #530dbd;
  }

  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #9f009f;
    text-shadow: 3px 3px 4px black;
  }

  h2 {
    font-size: 40px;
    text-align: left;

  }

  h3 {
    font-size: 40px;
    text-align: left;
    color: #ce0909;
    text-shadow: -1px -1px 4px black;

  }
  
  p, li, a {
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
  }

  body {
    width: 1000px;
    margin: 0 auto;
    background-color: #e2b319;
    padding: 0 20px 20px 20px;
    border: 15px solid black;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 1000px;
  }